* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow: hidden
}

body {
    background-color: rgb(134, 167, 255);
    color: #eee;
    font-family: sans-serif, Arial;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

#calculator {
    background-color: rgb(19, 25, 41);
    border: solid rgb(11, 14, 24) 1px;
    border-radius: 12px;
    box-shadow: 7px 7px 8px rgba(19, 25, 41, 0.35);
    margin: 15vh auto;
    height: 500px;
    width: 600px;
    padding: 15px;
}

.display-box {
    font-family: 'Orbitron', sans-serif;
    background-color: #dcdbe1;
    border: solid rgb(9, 12, 20) 1px;
    color: black;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    line-height: 3em;
}


.display-area {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 4%;
    line-height: 3em;
}

#input {
    font-size: 2.6em;
    padding: 1% 1% 0;
}


.buttons {
    margin-top: 4%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 4%;
    row-gap: 4%;
    line-height: 4.8em;
}

#result {
    background-color: #d8ca0c;
    border: solid #b38900 1.2px;
}

#result:hover {
    background-color: #f3d31d;
}

#btn2 {
    background-color: #da790b;
    border: solid #b38900 1.2px;
}

#btn2:hover {
    background-color: #f58c03;
}

#btn3 {
    background-color: rgb(204, 56, 11);
    border: solid rgb(163, 43, 6) 1.2px;
}

#btn3:hover {
    background-color: rgb(235, 61, 8);
}


.group1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2%;
}

.group1>div>input:hover {
    background-color: #01c258;
}

.group2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4%;
}

.group2>div>input {
    background-color: #1cadda;
}

.group2>div>input:hover {
    background-color: #14cdee;
}


.group3 {
    display: grid;
    grid-template-columns: 1fr;
    line-height: 4em;
    margin-top: 2%;
}


input[type=button] {
    font-family: 'Orbitron', sans-serif;
    background-color: #009c46;
    color: white;
    width: 100%;
    border-radius: 5px;
    height: 100%;
    outline: none;
    font-size: 2em;
}

.buttons input {
    height: 90%;
    border: solid #00421e 1.2px;
}


input[type=button]:hover {
    cursor: pointer;
}

input[type=button]:active {
    margin: 1px;
}

@media(max-width: 620px) {
    .buttons {
        grid-template-columns: 1fr;
        row-gap: 2%;
        line-height: 4em;
    }

    .group2 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 2%;
    }

    .group3 {
        margin-top: 3%;
    }

    #calculator {
        width: 470px;
        height: 570px;
    }
}